{% extends 'basic/base.html' %} {% block title %}Event Erstellen{% endblock %}
{% block content %}
<div class="card-container create background">
  <div class="card card-body create lightgrey">
    <h7><strong>Event erstellen</strong></h7>
    <form action="/erstellen" method="POST">
      <div class="mb-3">
        <label for="eventName" class="form-label">Event Name</label>
        <input
          type="text"
          name="name"
          id="eventName"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="dauer" class="form-label">Dauer</label>
        <input
          type="number"
          name="dauer"
          id="dauer"
          class="form-control"
          placeholder="in Minuten"
          required
        />
      </div>

      <div class="mb-3">
        <label for="ort" class="form-label">Ort</label>
        <input type="text" name="ort" id="ort" class="form-control" required />
      </div>

      <div class="mb-3">
        <label for="datum" class="form-label">Datum</label>
        <input
          type="date"
          name="datum"
          id="datum"
          pattern="\d{2}.\d{2}-\d{4}"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="uhrzeit" class="form-label">Uhrzeit</label>
        <input
          type="time"
          name="uhrzeit"
          id="uhrzeit"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="altersgruppe" class="form-label">Altersgruppe</label>
        <select
          class="form-control"
          name="altersgruppe"
          id="altersgruppe"
          required
        >
          <option value="UNTER_18">Unter 18</option>
          <option value="UEBER_18">Über 18</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="preis" class="form-label">Preis</label>
        <input
          type="number"
          name="preis"
          id="preis"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select
          class="form-select form-control"
          name="status"
          id="status"
          required
        >
          <option value="AKTIV">Aktiv</option>
          <option value="ABGESAGT">Abgesagt</option>
          <option value="ABGESCHLOSSEN">Abgeschlossen</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="teilnehmerAnzahl" class="form-label"
          >Gesuchte Teilnehmeranzahl</label
        >
        <input
          type="number"
          name="gesuchte_teilnehmer_anzahl"
          id="teilnehmerAnzahl"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="suchenderName" class="form-label">Suchender Name</label>
        <input
          type="text"
          name="suchender_name"
          id="suchenderName"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="suchenderNummer" class="form-label">Suchender Nummer</label>
        <input
          type="text"
          name="suchender_nummer"
          id="suchenderNummer"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="suchenderMail" class="form-label">Suchender Mail</label>
        <input
          type="email"
          name="suchender_mail"
          id="suchenderMail"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="col-12">
          <strong>Kategorien:</strong>
        </div>
        {% set mindestensEineAusgewaehlt = false %} {% for kategorie in
        kategorien %}
        <div class="form-check">
          <input
            class="form-check-input categoryCheckbox"
            type="checkbox"
            id="checkbox{{ kategorie.id }}"
            name="kategorien"
            value="{{ kategorie.name }}"
            {%
            if
            kategorie.id
            in
            selected_kategorien_ids
            %}checked{%
            endif
            %}
          />
          <label class="form-check-label" for="checkbox{{ kategorie.id }}"
            >{{ kategorie.name }}</label
          >
        </div>
        {% endfor %}
      </div>

      <button id="submitButton" type="submit" class="btn btn-primary">
        Event erstellen
      </button>
    </form>
  </div>
</div>

{% endblock content %}
